<!DOCTYPE html>
<html lang="en">

<head>
  <!--Stylesheets-->
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/materialize.css">
  <link rel="stylesheet" href="../static/css/iconfont/material-icons.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <title>Masara Legal Practioners</title>
  <style>
    nav {
      width: 100%;
      height: 75px;
      background-image: linear-gradient(161deg, rgba(19, 19, 19, 0.69) 0%, #75c3ff 100%);
    }

.image-sliders{
  margin-top: 55px;
}
.contact{
  margin-top: 50px;
}
.submit-btn{
      width: 100%;
    }

.services .card-panel{
  height: 300px;
  padding-top: 75px;
  border-radius: 10px;
}

.masara-footer{
  padding-top: 100px;
  background: #232F34;
}

.call-back .input-field{
  border-radius: 10px;
}

.testimonials .card{
  border-radius: 10px;
}
  </style>

</head>

<body>

  <nav>
    <div class="row">
      <div class="nav-wrapper">
        <div class="col m6 s12">
          <a href="#" class="brand-logo left"><b>Masara Legal</b></a>
        </div>
        <div class="col m6 hide-on-med-and-down">
          <div class="col m4">
            <a href="#" class="flow-text">Our Services</a>
          </div>
          <div class="col m4">
            <a href="#" class="flow-text">Testimonials</a>
          </div>
          <div class="col m4">
            <a href="#" class="flow-text">Team</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="section grey lighten-5">
    <div class="row">
      <div class="col s12 m8 image-sliders">
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="../static/img/pexels-photo-207662.jpeg">
            </li>
            <li>
              <img src="../static/img/pexels-photo-1059109.jpeg">
            </li>
            <li>
              <img src="../static/img/document-agreement-documents-sign-48148.jpeg">
            </li>
          </ul>
        </div>
      </div>
      <div class="col s12 m4 center contact ">
        <div class="card-panel blue white-text">
          <h5>Contact Us For A Quote</h5>
          <i class="material-icons medium white-text">email</i>
          <br><br>
          <form>

            <div class="input-field white-text">
              <input type="email" placeholder="Email" id="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field white-text">
              <textarea class="materialize-textarea" placeholder="Leave Message" id="message"></textarea>
              <label for="message">Message</label>
            </div>
            <button type="submit" class="btn btn-large btn-flat white submit-btn"><b>Send</b></button>
          </form>
        </div>
      </div>
  </section>

  <section class="section services center grey lighten-5">
    <div class="container">
      <div class="row">
        <h3>Our Services</h3>
        <div class="col s12 m3">
          <div class="card-panel z-depth-3">
            <div class="">
              <img src="../static/img/Briefcase_96px.png" class="circle" alt="">
            </div>
            <span class="card-title flow-text black-text">Corporate Law</span>
          </div>
        </div>
        <div class="col s12 m3 ">
          <div class="card-panel z-depth-3">
            <div>
              <img src="../static/img/Workers_100px.png" class="circle" alt="">
            </div>
            <span class="card-title flow-text black-text">Labour Law</span>
          </div>
        </div>
        <div class="col s12 m3 ">
          <div class="card-panel z-depth-3">
            <div>
              <img src="../static/img/Scales_96px.png" class="circle" alt="">
            </div>
            <span class="card-title flow-text black-text">Criminal Law</span>
          </div>
        </div>
        <div class="col s12 m3 ">
          <div class="card-panel z-depth-3">
            <div>
              <img src="../static/img/Globe_96px.png" class="circle" alt="">
            </div>
            <span class="card-title flow-text black-text">International Law</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section team center grey lighten-5">
    <div class="container">
      <div class="row">
        <h3>Our Team</h3>
        <div class="col s12 m6">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="../static/img/masara1.PNG" class="tooltipped" data-position="top" data-tooltip="Masara Snr"
                  alt="">
              </li>
              <li>
                <img src="../static/img/member2.jpg" class="tooltipped" data-position="top" data-tooltip="Team Sample"
                  alt="">
              </li>
            </ul>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="../static/img/masara2.PNG" class="tooltipped" data-position="top" data-tooltip="Masara Mrs">
              </li>
              <li>
                <img src="../static/img/member1.jpg" class="tooltipped" data-position="top" data-tooltip="Team Sample">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="section testimonials grey lighten-5 center">
    <div class="container">
      <div class="row">
        <h3>Client Testimonials</h3>
        <div class="col s12 m4">
          <div class="card z-depth-3">
            <div class="card-image">
              <img class="circle" src="../static/img/client1.jpeg" alt="">
            </div>
            <span class="card-title flow-text"><b>Anthony Davis Phiri</b></span>
            <div class="card-content">
              <p>I won the lawsuit after unfair dismissal from my workplace</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card z-depth-3">
            <div class="card-image">
              <img class="circle" src="../static/img/client2.jpeg" alt="">
            </div>
            <span class="card-title flow-text"><b>Joshua Wellington</b></span>
            <div class="card-content">
              <p>These guys are the best, they handled my divorce in the cleanest manner possible.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card z-depth-3">
            <div class="card-image z-depth-3">
              <img class="circle responsive-img" src="../static/img/client3.jpeg" alt="">
            </div>
            <span class="card-title flow-text"><b>Vimbai Grace Moyo</b></span>
            <div class="card-content">
              <p>They helped me with my startup & reviewed my contracts, to make sure I'm never
                cheated.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Footer -->
  <section class="masara-footer section page-footer center white-text">
    <div class="container">
      <div class="row">
        <div class="col s12 m3 flow-text">
          <h4>COMPANY</h4>
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Our Team</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Archives</a>
            </li>
          </ul>
        </div>
        <div class="col s12 m4 offset-m1 flow-text">
          <h4>SERVICES</h4>
          <ul>
            <li>
              <a href="#">Corporate Law</a>
            </li>
            <li>
              <a href="#">Labour Law</a>
            </li>
            <li>
              <a href="#">Criminal Law</a>
            </li>
            <li>
              <a href="#">International Law</a>
            </li>
          </ul>
        </div>
        <div class="col s12 m3 offset-m1 flow-text ">
          <h4>CONTACT</h4>
          <ul>
            <li>
              Head Office
            </li>
            <li>
              + 263 77 121 5205
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="masara-footer blue-text center">
      <p class="flow-text">Masara Legal Practioners &copy; 2018</p>
    </div>
  </section>

  <!-- Call back -->
  <section class="section call-back grey lighten-5">
    <div class="container">
      <form>
        <div class="row">
          <div class="col s12 m6 center">
            <h5>
              <blockquote>Please Fill Out Form & We Will Call You Back</blockquote>
            </h5>
          </div>
          <div class="col s12 m1 offset-m5">
            <button type="reset" class="btn-floating btn-large btn-flat">
              <i class="material-icons red-text">clear</i>
            </button>
          </div>
        </div>
        <div class="row center">
          <div class="col s12 m6">
            <div class="input-field">
              <input type="text" name="name" placeholder="Name">
            </div>
          </div>
          <div class="col s12 m6">
            <div class="input-field">
              <input type="text" name="contact" placeholder="Contact">
            </div>
          </div>
          <div class="col s12">
            <button type="submit" class="btn btn-large black  white-text z-depth-2 submit-btn">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!--Scripts-->
  <script src="../static/js/jquery-2.1.1.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script>
    M.AutoInit();
  </script>
  <script>
    $(document).ready(function () {
      //Init Slider
      $('.slider').slider({
        indicators: false
      });
    });
  </script>
</body>

</html>